@import 'bootstrap/dist/css/bootstrap.css';
@import "./variables";

.input {
    @include body-text($white);
    background-color: $dark;
}

.toggles:hover {
  background-color: $highlight;
  color: $white;
  border: none;
  @include body-text($white);
}

.mb-2:hover {
  background-color: $highlight;
  color: $white;
  border: none;
  @include body-text($white);
}

.txtbox {
  height: 400%;
}

// .toggles:hover {
//   background-color: $highlight !important;
// }

// .toggles[id^="user-"]:hover {
//   background-color: $highlight; /* Or the color you want */
//   // color: #fff; /* Optional: Change text color */
// }