@import 'bootstrap/dist/css/bootstrap.css';
@import "./variables";

.logo {
 color: $white;
 font-family: $header-font;
 font-size: xx-large;
}

.logo-o {
  color: $highlight;
}

.nb-item:hover {
  color: $yellow; 
}

// .nb-cont {
//   div {
//     margin: 1%;
//   }
// }